<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chunjae.test.TestMapper">
    <select id="testSelect" resultType="kr.co.chunjae.test.TestDto">
        SELECT id, name
        FROM tb_test
    </select>
</mapper>